[submodule "foundry/lib/openzeppelin-contracts"]
	path = foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry/lib/Solidity-RLP"]
	path = foundry/lib/Solidity-RLP
	url = https://github.com/hamdiallam/Solidity-RLP
